In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

conn_string = 'postgresql://postgres:12345678@localhost:5432/mydatabase'

engine = create_engine(conn_string)

In [16]:
df = pd.read_sql('''SELECT * from data''', engine)

In [22]:
with engine.begin() as conn:
    result = conn.execute('''INSERT INTO data (col1, col2) 
    VALUES ('Gizmo Transglobal', 2), ('Associated 123, Inc', 30)
    ON CONFLICT (col2) DO UPDATE SET col1 = EXCLUDED.col1
    RETURNING col2;''')
    for r in result:
        print r

(2L,)
(30L,)

In [19]:
def get_sql_insert_or_update(table_name, df_new, index_col):
    sql_columns = str(tuple(df_new.columns)).replace("'", '')
    sql_values = ", ".join(str(tuple(x[1:])) for x in df_new.itertuples())
    sql_where = ", ".join("{col} = excluded.{col}".format(col=col) for col in df_new)

    sql_insert_or_update = "INSERT INTO {table_name} {sql_columns} " \
                           "VALUES {sql_values} " \
                           "ON CONFLICT ({index_col}) " \
                           "DO UPDATE SET {sql_where} " \
                           "RETURNING {index_col}".format(sql_columns=sql_columns,
                                                          table_name=table_name,
                                                          index_col=index_col,
                                                          sql_values=sql_values,
                                                      sql_where=sql_where)
    return sql_insert_or_update

In [20]:
get_sql_insert_or_update('some_table', df, 'col2')

"INSERT INTO some_table (ucol1, ucol2) VALUES (u'jkl', 4), (u'abc2', 5), (u'def2', 6), (u'ghi2', 7), (u'jkl2', 8), (u'abwc_modified2', 1), (u'ghgi_modified', 3), (u'Associated 123, Inc', 20), (u'Gizmo Transglobal', 2), (u'Associated 123, Inc', 30) ON CONFLICT (col2) DO UPDATE SET col1 = excluded.col1, col2 = excluded.col2 RETURNING col2"