In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [55]:
conn_string = 'postgresql://postgres:12345678@192.168.59.250:5432/selection_TO'

In [53]:
engine = create_engine(conn_string)

In [54]:
pd.read_sql('''SELECT * from s_content.''', engine)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection timed out (0x0000274C/10060)
	Is the server running on host "192.168.59.250" and accepting
	TCP/IP connections on port 5432?

In [165]:
data_1 = [
    {"col1": "abc", "col2": 1},
    {"col1": "def", "col2": 2},
    {"col1": "ghi", "col2": 3},
    {"col1": "jkl", "col2": 4},
    {"col1": "abc2", "col2": 5},
    {"col1": "def2", "col2": 6},
    {"col1": "ghi2", "col2": 7},
    {"col1": "jkl2", "col2": 8},
]
df_1 = pd.DataFrame(data_1)
df_1.index = df_1.col2
df_1.index.name = "col1"
df_1

      col1  col2
col1
1      abc     1
2      def     2
3      ghi     3
4      jkl     4
5     abc2     5
6     def2     6
7     ghi2     7
8     jkl2     8

In [144]:
df_2.index.name

In [161]:
d = {"tables": [
      {
        "rpsn_main.uchid": "uch.uchid",
        "vvst_nom.vin_nom": "uch.uchzavnumber",
        "rpsn_main.nazn_vvst": "uch.uchgroupnaznach",
        "rpsn_main.description_vvst": "uch.uchdescr",
        "rpsn_main.kod_kvt_mo": "uch.uchgroupcode",
        "rpsn_main.name_vvst": "uch.uchgroupname",
        "rpsn_main.kod_ekps": "uch.uchgroupcode",
        "rpsn_main.srok_expl": "uch.uchgroupgarantyear",
        "rpsn_main.srok_spis": "uch.uchsetnar",
        "rpsn_main.res_expl": "uch.uchgroupgarantnar"
      },
      {
        "vvst_nom.vin_nom": "spacecraft.spacecraftnumber",
        "rpsn_main.shifr_vvst": "spacecraft.spacecraftname",
        "rpsn_main.index_vvst": "spacecraft.spacecraftindex"
      },
      {
        "vvst_nom.vin_nom": "ziprem.uchzavnumber",
        "rpsn_main.nazn_vvst": "ziprem.uchgroupnaznach",
        "rpsn_main.description_vvst": "ziprem.uchdescr",
        "rpsn_main.kod_kvt_mo": "ziprem.uchgroupcode",
        "rpsn_main.name_vvst": "ziprem.uchgroupname",
        "rpsn_main.kod_ekps": "ziprem.uchgroupcode",
        "rpsn_main.srok_expl": "ziprem.uchgroupgarantyear",
        "rpsn_main.srok_spis": "ziprem.uchsetnar",
        "rpsn_main.res_expl": "ziprem.uchgroupgarantnar"
      }
    ],
    "integration": [
      {
        "rpsn_main.shifr_vvst": "spacecrafttype.shortname",
        "rpsn_main.type_tech_id": "spacecrafttype.view",
        "rpsn_main.index_vvst": "spacecrafttype.index",
        "rpsn_main.description_vvst": "spacecrafttype.note",
        "rpsn_main.name_vvst": "spacecrafttype.fullname",
        "rpsn_main.org_razrab_id": "spacecrafttype.developerid",
        "rpsn_main.srok_expl": "spacecrafttype.gsas",
        "rpsn_main.image_vvst": "spacecrafttype.image"
      },
      {
        "rpsn_main.shifr_vvst": "devicetype.shortname",
        "rpsn_main.index_vvst": "devicetype.index",
        "rpsn_main.description_vvst": "devicetype.note",
        "rpsn_main.name_vvst": "devicetype.fullname",
        "rpsn_main.org_razrab_id": "devicetype.developerid",
        "rpsn_main.kod_kvt_mo": "devicetype.kvtmo",
        "rpsn_main.res_expl": "devicetype.warrantyyears",
        "rpsn_main.nazn_vvst": "devicetype.deviceclassid",
        "rpsn_main.id_int": "devicetype.id"
      }
    ] }

{'integration': [{'rpsn_main.description_vvst': 'spacecrafttype.note',
   'rpsn_main.image_vvst': 'spacecrafttype.image',
   'rpsn_main.index_vvst': 'spacecrafttype.index',
   'rpsn_main.name_vvst': 'spacecrafttype.fullname',
   'rpsn_main.org_razrab_id': 'spacecrafttype.developerid',
   'rpsn_main.shifr_vvst': 'spacecrafttype.shortname',
   'rpsn_main.srok_expl': 'spacecrafttype.gsas',
   'rpsn_main.type_tech_id': 'spacecrafttype.view'},
  {'rpsn_main.description_vvst': 'devicetype.note',
   'rpsn_main.id_int': 'devicetype.id',
   'rpsn_main.index_vvst': 'devicetype.index',
   'rpsn_main.kod_kvt_mo': 'devicetype.kvtmo',
   'rpsn_main.name_vvst': 'devicetype.fullname',
   'rpsn_main.nazn_vvst': 'devicetype.deviceclassid',
   'rpsn_main.org_razrab_id': 'devicetype.developerid',
   'rpsn_main.res_expl': 'devicetype.warrantyyears',
   'rpsn_main.shifr_vvst': 'devicetype.shortname'}],
 'tables': [{'rpsn_main.description_vvst': 'uch.uchdescr',
   'rpsn_main.kod_ekps': 'uch.uchgroupcode',
   'rpsn_main.kod_kvt_mo': 'uch.uchgroupcode',
   'rpsn_main.name_vvst': 'uch.uchgroupname',
   'rpsn_main.nazn_vvst': 'uch.uchgroupnaznach',
   'rpsn_main.res_expl': 'uch.uchgroupgarantnar',
   'rpsn_main.srok_expl': 'uch.uchgroupgarantyear',
   'rpsn_main.srok_spis': 'uch.uchsetnar',
   'rpsn_main.uchid': 'uch.uchid',
   'vvst_nom.vin_nom': 'uch.uchzavnumber'},
  {'rpsn_main.index_vvst': 'spacecraft.spacecraftindex',
   'rpsn_main.shifr_vvst': 'spacecraft.spacecraftname',
   'vvst_nom.vin_nom': 'spacecraft.spacecraftnumber'},
  {'rpsn_main.description_vvst': 'ziprem.uchdescr',
   'rpsn_main.kod_ekps': 'ziprem.uchgroupcode',
   'rpsn_main.kod_kvt_mo': 'ziprem.uchgroupcode',
   'rpsn_main.name_vvst': 'ziprem.uchgroupname',
   'rpsn_main.nazn_vvst': 'ziprem.uchgroupnaznach',
   'rpsn_main.res_expl': 'ziprem.uchgroupgarantnar',
   'rpsn_main.srok_expl': 'ziprem.uchgroupgarantyear',
   'rpsn_main.srok_spis': 'ziprem.uchsetnar',
   'vvst_nom.vin_nom': 'ziprem.uchzavnumber'}]}

In [121]:
pd.read_sql('select * from data', engine)

             col1  col2
0             def     2
1             jkl     4
2            abc2     5
3            def2     6
4            ghi2     7
5            jkl2     8
6  abwc_modified2     1
7   ghgi_modified     3

In [104]:
def get_sql_insert_or_update(table_name, df_new, index_col):
    
    sql_columns = str(tuple(df_new.columns)).replace("'", '')
    sql_values = ", ".join(str(tuple(x[1:])) for x in df_new.itertuples())
    sql_where = ", ".join("{col} = excluded.{col}".format(col=col) for col in df_new)

    sql_insert_or_update = "INSERT INTO {table_name} {sql_columns} VALUES {sql_values} \
    ON CONFLICT ({index_col}) DO UPDATE SET {sql_where}".format(sql_columns=sql_columns, 
                                                                table_name=table_name,
                                                                index_col=index_col,
                                                                sql_values=sql_values, 
                                                                sql_where=sql_where)
    return sql_insert_or_update

In [111]:
def sync(table_name, df):
    """
    - make if not exist
    - check is modified
    """
    index_col = '_primary_key'
    
    indexes = str(tuple(df[index_col]))
    sql_select = "SELECT * FROM {table_name} WHERE {index_col} IN {indexes}".format(table_name=table_name, 
                                                                                              index_col=index_col, 
                                                                                              indexes=indexes)
    try:
        db = pd.read_sql(sql_select, engine)
    except:
        df.to_sql(table_name, engine, index=False)
        sql_after_create = "ALTER TABLE {table_name} ADD PRIMARY KEY ({index_col})".format(table_name=table_name,
                                                                                     index_col=index_col)
#         sql_after_create = "ALTER TABLE {table_name} ADD CONSTRAINT {index_col}_unique \
#             UNIQUE ({index_col});".format(table_name=table_name, index_col=index_col)
        with engine.begin() as conn:
            conn.execute(sql_after_create)
        return df
        
    df_new = df[~df.isin(db.to_dict('list')).all(1)]
    if not df_new.empty:
        sql_insert_or_update = get_sql_insert_or_update(table_name, df_new, index_col)
        with engine.begin() as conn:
            conn.execute(sql_insert_or_update)
            
    return df_new

name = 'data'
sync(name, df_2_modified)
print pd.read_sql("SELECT * FROM %s" % name, engine)

             col1  col2
0             def     2
1             jkl     4
2            abc2     5
3            def2     6
4            ghi2     7
5            jkl2     8
6  abwc_modified2     1
7   ghgi_modified     3

In [174]:
#df[~df.isin(db.to_dict('list')).all(1)]

In [214]:
pd.read_sql("SELECT * FROM %s" % name, engine)

   col1
0   abc
1   def
2   ghi
3   jkl
4  abc2
5  def2
6  ghi2
7  jkl2

In [28]:
get_sql_insert_or_update('data', df_1, 'col1')

"INSERT INTO data ('col1', 'col2') VALUES ('abc', 1), ('def', 2), ('ghi', 3), ('jkl', 4), ('abc2', 5), ('def2', 6), ('ghi2', 7), ('jkl2', 8)"

In [180]:
# df = df_2_modified
# table_name = 'data'
# index_col = 'col2'
# indexes = ', '.join([str(x) for x in (df[index_col])])
# db = pd.read_sql("SELECT * FROM {table_name} WHERE {index_col} IN ({indexes})".format(table_name=table_name, 
#                                                                                       index_col=index_col, 
#                                                                                       indexes=indexes), engine)
# df_new = df[~df.isin(db.to_dict('list')).all(1)]

In [282]:
# # sql_new_values = ""
# # for index in df_new[index_col]:
# #     for col in df_new.columns:
# #         print df_new[df_new[index_col] == index]
# """INSERT INTO the_table {sql_columns}
#         VALUES {sql_values}
#         ON CONFLICT (id) DO UPDATE 
#           SET {sql_where};"""

# table_name = "data"

# sql_columns =str(tuple(df_new.columns.insert(0, 'id')))
# print sql_columns

# sql_values = ", ".join(str(tuple(x[1:])) for x in df_new.itertuples())
# print sql_values

# sql_where = ", ".join("{col} = excluded.{col}".format(col=col) for col in df_new)
# print sql_where

# sql_query = "INSERT INTO {table_name} {sql_columns} VALUES {sql_values} \
# ON DUPLICATE KEY UPDATE {sql_where}".format(sql_columns=sql_columns, 
#                                             table_name=table_name,
#                                             sql_values=sql_values, 
#                                             sql_where=sql_where)
# print sql_query

('id', 'col1', 'col2')
('abwc_modified', 1), ('ghgi_modified', 3)
col1 = excluded.col1, col2 = excluded.col2
INSERT INTO data ('id', 'col1', 'col2') VALUES ('abwc_modified', 1), ('ghgi_modified', 3) ON DUPLICATE KEY UPDATE col1 = excluded.col1, col2 = excluded.col2

In [27]:
with engine.begin() as conn:     # TRANSACTION
    conn.execute(sql)

In [121]:
index_col = 'personid'
d = pd.DataFrame([{index_col: 10, 'name': 'Vasya'}])

d.index = pd.Index(d[index_col])
d = d.drop(index_col, axis=1)
    
sql_columns =str(tuple(d.columns.insert(0, index_col)))
sql_values = ", ".join(str(tuple(x)) for x in d.itertuples())
sql_where = ", ".join("{col} = excluded.{col}".format(col=col) for col in d)
print sql_columns
print sql_values
print sql_where

('personid', 'name')
(10, 'Vasya')
name = excluded.name

In [108]:
d

           name  personid
personid
10        Vasya        10

In [100]:
d.index = pd.Index(d.personid)
d.drop('personid', axis=1)

           name
personid
10        Vasya

In [74]:
data_2 = [
    {"col1": "abc", "col2": 1},
    {"col1": "def", "col2": 2},
    {"col1": "ghi", "col2": 3},
    {"col1": "jkl", "col2": 4},
]
df_2 = pd.DataFrame(data_2)

In [99]:
data_2_modified = [
    {"col1": "abwc_modified2", "col2": 1},
    {"col1": "def", "col2": 2},
    {"col1": "ghgi_modified", "col2": 3},
    {"col1": "jkl", "col2": 4},
]
df_2_modified = pd.DataFrame(data_2_modified)

In [58]:
#df_1['id'] = df_1.col2
df_1['col2'] = df_1['col2'].astype(int)
#df_1.index = df_1['col2']
#df_1.drop('col2', axis=1, inplace=True)
df_1.to_sql(name, engine, if_exists='replace', index=False)

In [59]:
with engine.begin() as conn:
    #conn.execute("ALTER TABLE data ADD CONSTRAINT col_2_unique UNIQUE (col2);")
    for row in conn.execute('SELECT * FROM %s' % name):
        print row

(u'abc', 1)
(u'def', 2)
(u'ghi', 3)
(u'jkl', 4)
(u'abc2', 5)
(u'def2', 6)
(u'ghi2', 7)
(u'jkl2', 8)

In [46]:
sql = "INSERT OR REPLACE INTO data (col1, col2) VALUES ('ad', 2)"
#sql = "INSERT INTO data (col1, col2) VALUES ('ad', 2) ON CONFLICT KEY UPDATE col1 = excluded.col1, col2 = excluded.col2"
sql = "INSERT INTO data (col1, col2)\
    VALUES ('Gizmo Transglobal', 2), ('Associated 123, Inc', 20)\
    ON CONFLICT (col2) DO UPDATE SET col1 = EXCLUDED.col1;"

with engine.begin() as conn:
    conn.execute(sql)
    for row in conn.execute('SELECT * FROM %s' % name):
        print row

(u'abc', 1)
(u'ghi', 3)
(u'jkl', 4)
(u'abc2', 5)
(u'def2', 6)
(u'ghi2', 7)
(u'jkl2', 8)
(u'Gizmo Transglobal', 2)
(u'Associated 123, Inc', 20)